
<li id="<%= test_id %>" class="<%= failed ? 'failed' : complete ? 'passed' : 'incomplete' %>">
  (<%= email || "anonymous"%>) - <%= user_agent %> <%
  if(total) { %> (<%= passed %>/<%= failed %>/<%= total %>/<%= runtime %>ms) <% } %>

  <% if (complete && failed_tests.length) { %>
    <h5>Failed Tests</h5>

    <ul>
      <% failed_tests.forEach(function(name, index) { %>
        <li>
          <%= name %>
        </li>
      <% }); %>
    </ul>
  <% } %>
</li>

