
<li id="<%= test_id %>" class="<%= failed ? 'failed' : complete ? 'passed' : 'incomplete' %>">
  <a href="#<%= test_id %>">(<%= email || "anonymous"%>) - <%= userAgent %></a> <%
  if(total) { %> (<%= passed %>/<%= failed %>/<%= total %>/<%= runtime %>ms) <% } %>
  <% if (complete) { %>
  <ul>
    <li>Passed: <%= passed %></li>
    <li>Failed: <%= failed %></li>
    <li>Total: <%= total %></li>
    <li>Runtime: <%= runtime %></li>
  </ul>
  <% } %>
</li>

