
<li id="<%= id %>" class="<%= complete ? (failed ? 'failed' : 'passed') : 'incomplete' %>">
  <a href="#<%= id %>"><%= userAgent %></a> <% if(complete) { %> (<%= passed %>/<%= failed %>/<%= total %>/<%= runtime %>ms) <% } %>
  <% if (complete) { %>
  <ul>
    <li>Passed: <%= passed %></li>
    <li>Failed: <%= failed %></li>
    <li>Total: <%= total %></li>
    <li>Runtime: <%= runtime %></li>
  </ul>
  <% } %>
</li>

