  <li id="<%= test_id %>" class="<%= failed ? 'failed' : complete ? 'passed' : 'incomplete' %>">
    <a href="#<%= test_id %>">(<%= email || "anonymous" %>)</a> - <a
    target="_blank" href="<%= url
    %>"><%= url %></a> <%
    if(typeof passed !== "undefined") { %> (<%= passed %>/<%= failed %>/<%=
      total %><% if(typeof runtime !== "undefined") { %>/<%= runtime %>ms<% }
      %>) <% } %>
    <% if (msg === "suite_complete") { %>
    <ul>
      <li>Passed: <%= passed %></li>
      <li>Failed: <%= failed %></li>
      <li>Total: <%= total %></li>
      <li>Runtime: <%= runtime %></li>
    </ul>
    <% } %>
  </li>
