<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,width=device-width" />
  <meta name="format-detection" content="email=no" />
  <title>TestMob <% if(typeof title !== "undefined") { %> - <%= title %><% } %></title>

  <%- cachify_css("/production/main.min.css") %>
</head>
<body>
  <div id="wrapper">
    <header>
      <span class="right" id="authentication">
        <% if (typeof email !== "undefined") { %>
          Hi <span id="email"><%= email %></span>,
          <a href="#" id="signout">Sign Out</a>
        <% } else { %>
          <a href="#" id="signin">Sign In</a>
        <% } %>
      </span>
      <hgroup>
        <h1><a href="/">TestMob</a></h1>
        <h2>Javascript Unit Testing, Mob Style</h2>
      </hgroup>

      <ul id="menu">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/use">How to use</a></li>
        <li><a href="https://github.com/stomlinson/testmob" target="_blank">Source</a></li>
      </ul>
    </header>

    <% if(typeof title !== "undefined") { %>
      <h2><%= title %></h2>
    <% } %>

    <%- body %>

    <footer>
      <a href="http://www.shanetomlinson.com">Shane Tomlinson</a> &copy; 2012
    </footer>
  </div>
  <script src="/socket.io/socket.io.js"></script>
  <%- cachify_js("/production/main.min.js") %>
  <script src="https://browserid.org/include.js"></script>
</body>
</html>

